* {
    background: #a6ff90;
    /* border: 2px solid black; */
}

.page-container {
    box-sizing: border-box;
    text-align: center;
    color: white;
    background: #3fdf3f;
    padding: 15px 10px;
    margin: 50px 50px;
}

h1, 
ul,
li,
a {
    background-color: #3fdf3f;
    font-size: 40px;
    color: black;
}

h1 {
    font-size: 50px;
}

li {
    display: inline-block;
    padding: 2px 10px;
}